@media (max-width: 1100px) {
  .servicesGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 980px) {
  .servicesGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 980px) {
  .partnersGrid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 980px) {
  h1 {
    font-size: 44px;
  }

  .hero__grid {
    grid-template-columns: 1fr;
  }

  .hero__visual {
    min-height: 280px;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .photoGrid {
    grid-template-columns: 1fr 1fr;
  }

  .steps {
    grid-template-columns: 1fr;
  }

  .contactGrid {
    grid-template-columns: 1fr;
  }

  .row {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 760px) {
  .menu {
    display: none;
  }

  .burger {
    display: inline-flex;
  }
}
